# http://editorconfig.org
# .editorconfig 
root = true

[*]
charset = utf-8 # utf-8
end_of_line = lf # lf | cr | crlf
insert_final_newline = false
indent_style = tab
indent_size = 4
max_line_length = 130

[*.md]
max_line_length = off
trim_trailing_whitespace = false
